@import url('https://rsms.me/inter/inter.css');

/* Global variables */

 :root {
     --background: #444444;
     --dice-background: #EAEAEA;
     --board-width-actual: calc(100% - 2 * var(--game-area-padding-horizontal));
     --board-width-design: 910px;
     --board-padding-horizontal-design: 20px;
     --board-padding-horizontal-actual: calc(100% * var(--board-padding-horizontal-design) * var(--board-width-actual) / var(--board-width-design));
     --play-button-background: #2DA01A;
     --player-panel-background: white;
 }

/* Generic tags */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 75px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background);
}

h1 {
    font-weight: 700;
    font-size: 8rem;
    color: white;
    margin: 0px 0px 40px 0px;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
    color: white;
    margin: 0px 0px 25px 0px;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
}

* {
    box-sizing: border-box;
}

/* Specific classes */

.board {
    width: 100%;
}

.button {
    border-radius: 100px;
    padding: 10px 30%;
    margin: 30px 0px;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
}

.button--play {
    background-color: var(--play-button-background);
}

.button--grayed {
    background-color: #EAEAEA;
}

.button--nav {
    padding: 12px 60px;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    font-weight: 500;
    font-size: 1.8rem;
}

.dice {
    width: 40%;
}

.dice-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.end-screen {
    display: none;
}

.home-screen {
    display: flex;
}

.game-area {
    /* Shorthand padding notation cannot be accessed in main.js */
    flex: 1;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grayed-text {
    color: #CBCBCB;
}

.name-input-container {
    display: grid;
    row-gap: 25px;
    column-gap: 25px;
    grid-template-columns: max-content max-content;
}

.name-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input__label {
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-align: right;
}

.nav-screen {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.piece--board {
    width: 80%;
}

.piece--home {
    width: 20%;
}

.piece--scored {
    position: absolute;
    height: 35%;
    aspect-ratio: 1;
}

.piece--scored--1 {
    top: 0%;
    right: 0%;
}

.piece--scored--2 {
    top: 47%;
    right: 4%;
}

.piece--scored--3 {
    top: 15%;
    right: 29%;
}

.piece--scored--4 {
    top: 57%;
    right: 32%;
}

.piece--scored--5 {
    top: 16%;
    right: 54%;
}

.piece--scored--6 {
    bottom: 0%;
    right: 59%;
}

.piece--scored--7 {
    top: 35%;
    left: 0%;
}

.pieces-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pieces__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pieces__row--row2 {
    margin-top: 10px;
}

.player-panel {
    background-color: var(--player-panel-background);
    border-radius: 10px;
    padding: 20px 20px 35px 20px;
    width: clamp(200px, 20%, 100%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.player-panel__dice-background {
    background-color: #F6CB77;
    border-radius: 10px;
    aspect-ratio: 1;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player-panel__dice-background--grayed {
    background-color: #EAEAEA;
}

.player-panel--grayed {
    background-color: rgba(35, 35, 35, 0.5);
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.player-panel__name {
    text-align: center;
}

.scored-pieces-container {
    width: 50%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scored-pieces-container--player-1 {
    margin: 30px 0px 0px 0px;
}

.scored-pieces-container--player-2 {
    transform: rotate(180deg) scaleX(-1);
    margin: 0px 0px 30px 0px;
}

.tile {
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tile--regular {
    background-color: #F6CB77;
}

.tile--rosette {
    background-color: #F2DDA5;
}

.tiles-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: black; */
}

.tiles-container__row {
    display: flex;
    justify-content: space-between;
}

.total-dice-value {
    font-weight: 800;
    font-size: 46px;
    color: #904418;
}